{% load static %} 
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポートフォリオ-ゲーム制作</title>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <header>
        <h1>私のゲーム制作ポートフォリオ</h1>
    </header>
    <div class="container">
        
        <div class="card">
            <h2>自己紹介</h2>
            <p>
                大学生。 ゲーム制作やウェブ開発などを学んでいる。
            </p>
        </div>

        <div class="card">
            <h2>スキル</h2>
            <ul>
                <li>プログラミング言語: Python, JavaScript, C#</li>
                <li>ゲームエンジン: Unity</li>
                <li>ウェブ開発: HTML, CSS, Django</li>
            </ul>
        </div>

        <div class="card">
            <h2> Web基礎まとめサイト</h2>
            <p>
                HTML、CSS、JavaScriptの基礎をまとめたサイト。
                &lt;body&gt; タグの意味や、rel属性の使い方などをまとめたサイト
            </p>

            <a href="/webnote/">Web基礎まとめサイトへ</a>
        </div>

        <div class="card">
            <h2>ゲーム制作まとめ</h2>
            <p>制作したゲームまとめ</p>

            <ul class="game-list">
                <li class="game-item">
                    <strong>BLOCK PUZZLE</strong><br>
                        使用技術: HTML / JavaScript / Canvas<br>
                        ブロック配置型パズルゲーム<br><br>

                    <a href="/games/blockpuzzle/" class="game-button">
                        BLOCK PUZZLE
                    </a>
                </li>

                <li class="game-item">
                    <strong>ビリヤードゲーム</strong><br>
                        使用技術: Unity / C# / WebGL<br>
                        Unityで制作したビリヤードゲームをブラウザ上でプレイ可能<br><br>

                        <a href="/games/billiard/" class="game-button">
                            ビリヤードゲームをプレイする
                        </a>
                </li>

                <li class="game-item">
                    <strong>ブロック崩し</strong><br>
                        使用技術: Unity / C# / WebGL<br>
                        Unityで制作したブロック崩しゲームをブラウザ上でプレイ可能<br><br>

                        <a href="/games/breakout/" class="game-button">
                            ブロック崩しをプレイする
                        </a>
                </li>
            </ul>
        </div>


    <footer>
        <p>Ⓒ 2025 my portfolio</p>
    </footer>
</body>
</html>