{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'games/blockpuzzle/blockpuzzle.css' %}">
</head>
<body>

    <!-- ゲーム描画用 -->
    <canvas id="titleCanvas" width="1100" height="80"></canvas>
    <canvas id="gameCanvas" width="1100" height="400"></canvas>

    <button id ="startBtn">START!</button>
    <button id ="scoreBtn" onclick="location.href='{% url 'scores' %}'">成績一覧</button>


    <div id="gameOverUI" style="
        display:none;
        text-align:center;
        margin-top:20px;
        background:rgba(0,0,0,0.6);
        color:white;
        padding:20px;
        width:500px;
        margin-left:auto;
        margin-right:auto;
        border-radius:10px;
    ">
        <h2>TIME UP! お疲れ様でした！</h2>
        <p id="scoreText"></p>

        <hr style="margin:20px 0;">

    <h3 style="margin-bottom:10px;">🧠 AIプレイ分析</h3>

    <pre id="ai-analysis-text" style="
        text-align:left;
        white-space:pre-wrap;
        background:rgba(255,255,255,0.1);
        padding:12px;
        border-radius:8px;
        font-size:14px;
        max-height:200px;
        overflow-y:auto;
    ">
    AI分析を生成中です...
    </pre>


        <!-- 名前入力フォーム -->
        <input type="text" id="playerName" placeholder="名前を入力" 
            style="padding:8px; font-size:16px; width:60%; border-radius:5px;">
        <br><br>

        <button id="saveScoreBtn" onclick="saveScore()" 
            style="padding:10px 20px; font-size:16px; border-radius:8px;">
            名前を登録する
        </button>

        <br><br>

        <button onclick="restartGame()" 
            style="padding:10px 20px; font-size:16px; border-radius:8px;">
            もう一度プレイする
        </button>
    </div>

    <!-- UI専用レイヤー -->
    <div id="ui-layer">
        <a href="{% url 'portfolio_index' %}" class="back-portfolio">
            ポートフォリオに戻る
        </a>
    </div>

    <script src="{% static 'games/blockpuzzle/title.js' %}"></script>
    <script type="module" src="{% static 'games/blockpuzzle/blockpuzzle.js' %}"></script>

    <script>
        window.addEventListener("load", () => {
            draw();
        });
    </script>



</body>
</html>
